<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purchase Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>



  <script src="script.js"></script>
</body>
<div class="container">
    <form id="form" action="/">
        <h1>Equipment Form</h1>
        <div class="input-control">
            <label for="type">Type:</label>
            <input id="type" name="type" type="text" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="serial">Serial N°:</label>
            <input id="serial" name="serial" type="number" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="model">Model N°:</label>
            <input id="model" name="model" type="number" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="purchse_date">Purchase date:</label>
            <input id="purchase" name="purchase" type="date" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="employee">Employee:</label>
            <input id="employee" name="employee" type="tel" required> 
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="location">Location:</label>
            <input id="location"name="location" type="text" required>
            <!-- <div class="error"></div> -->
        </div>
        <center>
            <button type="submit" id="mybtn">Submit</button>
        </center>
    </form>
</div>
</form>
</html>