<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purchase Form</title>
  <link rel="stylesheet" href="style2.css">
</head>



  <script src="script.js"></script>
</body>
<div class="container">
    <form id="form" action="/">
        <h1>Employee Form</h1>
        <div class="input-control">
            <label for="type">Name:</label>
            <input id="name" name="name" type="text" >
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="gender">Gender:</label>
            <input id="gender" name="gender" type="text">
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="title">Title:</label>
            <input id="title" name="title" type="text">
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="department">Department:</label>
            <input id="department" name="department" type="text">
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="phone_number">Phone number:</label>
            <input id="phone_number" name="phone_number" type="number">
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="location">Location:</label>
            <input id="location"name="location" type="text">
            <!-- <div class="error"></div> -->
        </div>
        <center>
            <button type="submit" id="mybtn">Submit</button>
        </center>
    </form>
</div>
</form>
</html>